@font-face {
    font-family: Oxygen-bold;
    src: url(../misc/Oxygen/Oxygen-Bold.ttf);
}

@font-face {
    font-family: Oxygen-regular;
    src: url(../misc/Oxygen/Oxygen-Regular.ttf);
}

body{
    margin: 0;
}

/* ////////////////////// FOR ALL DEVICES /////////////////////*/
    /* //////////////////////// MENU ////////////////////////*/
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    
    .fade-layer.visible{
        display: block;
    }

    .menu{
    height: 100vh;
    width: 50vw;
    background: #6750A4;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    display: flex;
    flex-direction: column;
    }

    .menu a{
        margin-left: 5vw;
        text-decoration: none;
        font-size: 1.25rem;
        font-family: Oxygen-bold;
        color: #D0BCFF;  
        border-bottom: 5px solid #D0BCFF;
        margin-bottom: 20px;
    }

    .show{
        left: 0;
    }

    /* //////////////////////// INDEX HTML ////////////////////////*/
    .wrapper{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "nav"
        "hd"
        "mn"
        "sec"
        "ft";
    }
    nav{
        background-color: #381E72;
        width: 100%; 
    }
    .mainIndex{
        background-color: #6750A4;
        grid-area: mn;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .mainIndexAbout{
        background-color: #EADDFF;
        font-family: Oxygen-regular;
        padding: 25px;
        box-sizing: border-box;
        width: 80vw;
        font-size: 1.5rem;
    }

    .indexSection{
        grid-area: sec;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
        .selection{
            flex:1;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
        }

        .indexSection a{
            text-decoration: none;
            color: black;
            font-family: Oxygen-regular;
            height: 100%;
            width: 32%;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-left: 5px solid #D0BCFF;
            border-right: 5px solid #D0BCFF;
            justify-content: space-between;
            object-fit: contain;
        }
        .indexSubtitle{
            text-align: center;
            background-color: #D0BCFF;
        }
        .indexSubtitle h2{
            font-size: 3rem;
            font-family: Oxygen-bold;
        }
        .indexSubtitle p{
            font-size: 1.75rem;
            font-family: Oxygen-regular;
            margin-top: 0;
        }
        .indexSection a img{
            width: 90%;
            margin-bottom: 10px;
        }

        .headerIndex{
            grid-area: hd;
            background-color: #D0BCFF;
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .blur{
                width: 100%;
                height: 31%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                flex-direction:column;
            }
            
            .blur p{
                font-size: 1rem;
                margin: 0;
                font-family: Oxygen-regular;
            }
            
            .blur h1{
                margin: 0;
                font-family: Oxygen-bold;
            }
            
    footer{
        background-color: #381E72;
        grid-area: ft;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D0BCFF;
    }
    
    footer img{
        height: 80%;
        aspect-ratio: 1/1;
    }
    
    /* //////////////////////// ABOUT HTML ////////////////////////*/
    .wrapperABOUT{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "nav"
        "mn"
        "ft";
    }

    .aboutMain{
        grid-area: mn;
        background-color: #6750A4;
    }

    .aboutMain section{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #D0BCFF;
        height: 80vh;
        margin-bottom: 10vh;
    }

    .about{
        height: 100%;
        background-color: #EADDFF;
        padding: 25px;
        font-size: 1.5rem;
        box-sizing: border-box;
        font-family: Oxygen-regular;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutHeading{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        font-family: Oxygen-regular;
        color: #381E72;
    }

     /* //////////////////////// MECHANISMS HTML ////////////////////////*/
    .wrapperMechanisms{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "nav"
        "hd"
        "mn"
        "ft";
        grid-template-rows: 7.5vh 40vh 1fr 15vh;
    }

    .hdMechanisms{
        grid-area: hd;
        background-color: red;
    }

    .mainMechanisms{
        grid-area: mn;
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6750A4;
        padding-top: 5vh;
    }   

    .divMechanisms{
        background-color: #EADDFF;
        padding: 25px;
        box-sizing: border-box;
    }
        .divMechanisms h2{
            font-weight: 700;
            margin: 0;
            font-family: Oxygen-bold;
        }
        .divMechanisms p{
            font-family: Oxygen-regular;
        }

    .mainMechanisms img{
        box-sizing: border-box;
    }

    .card{
        margin-bottom: 5vh;
    }
    .card img{
        object-fit: contain;
        background-color: #D0BCFF;
    }

    /* //////////////////////// WHATS LEFT HTML ////////////////////////*/
    .wrapperWhatsLeft{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "nav"
        "hd"
        "mn"
        "ft";
        grid-template-rows: 7.5vh 40vh 1fr 15vh;
    }

    .hdWhatsLeft{
        grid-area: hd;
        background-color: #6750A4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
        .hdWhatsLeft h1{
            font-family: Oxygen-bold;
            color: #D0BCFF;
            margin: 0;
        }
        .hdWhatsLeft p{
            font-family: Oxygen-bold;
            font-size: 1rem;
            color: #D0BCFF;
            text-align: center;
        }

    .mainWhatsLeft{
        grid-area: mn;
        background-color: #6750A4;
        display: flex;
        flex-wrap: wrap;
        padding-top: 5vh;
    }   

    .whatsLeftSection{
        background-color: #D0BCFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3vh;
        box-sizing: border-box;
        color: black;
        margin-bottom: 5vh;
    }
        .whatsLeftSection h2{
            font-family: Oxygen-regular;
            margin: 0;
        }
        .whatsLeftSection p{
            font-weight: 400;
            font-size: 1.2rem;
        }

/* //////////////////////// FOR DESKTOP ////////////////////////*/
@media screen and (min-width:730px){
    /* //////////////////////// INDEX HTML ////////////////////////*/
    .wrapper{
        grid-template-rows: 7.5vh 92.5vh 80vh 33% 15vh;
    }

    nav{
        height: 7.5vh;
        position: fixed;
        font-family: Oxygen-bold;
        display: flex;
        justify-content: right;
        align-items: center;
        z-index: 2;
    }
    nav a{
        text-decoration: none;
        color: #D0BCFF;
        transition: color 0.3s;
        margin-right: 50px;
        font-size: 1.25rem;
    }
    nav a:hover{
        color: white;
    }

    nav .logo{
        height: 7.5vh;
        display: flex;
        align-items: center;
        left: 10vh;
        top: 0;
        position: absolute;background-size: contain;
        font-size: 2rem;
        color: #D0BCFF;
    }
    nav .logo img{
        height: 80%;
        aspect-ratio: 1/1;
    }
    .menuButton{
        display: none;
    }
    .headerIndex{
        background-image: url(../img/fullArm.png);
    }

    footer h3{
        font-size: 3rem;
        font-family: Oxygen-bold;
    }

    /* //////////////////////// ABOUT HTML ////////////////////////*/
    .aboutMain section{
        justify-content: space-evenly;
    }
    .about{
        width: 60%;
    }
    .aboutHeading{
        width: 30%;
    }
    .wrapperABOUT{
        grid-template-rows: 7.5vh 1fr 15vh;
    }

    /* //////////////////////// MECHANISM HTML ////////////////////////*/
    .mainMechanisms{
        flex-wrap: wrap;
    } 

    .divMechanisms{
        height: 70vh;
        width: 45vw;
    }
        .divMechanisms h2{
            font-size: 2rem;
        }

    .mainMechanisms img{
        height: 70vh;
        width: 45vw;
        padding: 20px;
    }

    .card{
        display: flex;
        flex-direction: row;
    }

    /* //////////////////////// WHATS LEFT HTML ////////////////////////*/
    .whatsLeftSection{
        height: 50vh;
        width: 35vw;
    }

    .mainWhatsLeft{
        justify-content: space-evenly;
    }

    .hdWhatsLeft h1{
        font-size: 5rem;
    }

    .whatsLeftSection h2{
        font-size: 2.5rem;
    }
}

/* //////////////////////// FOR MOBIL ////////////////////////*/
@media screen and (max-width:730px){
    /* //////////////////////// INDEX HTML ////////////////////////*/
    .wrapper{
        grid-template-rows: 12.5vh 92.5vh 1fr 1fr 15vh;
    }
    
    .menuButton{
        display: inline;
        height: 10vh;
        aspect-ratio: 1/1;
        position: fixed;
        z-index: 1;
    }

    .menuButton img{
        width: 100%;
        margin-left: 1.25vh;
    }

    .mainIndex{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    nav{
        display: flex;
        align-items: center;
        height: 12.5vh;
        position: fixed;
        z-index: 1;
    }

    nav a{
        display: none;
    }
    .logo{
        display: none;
    }
    
    .blur h1{
        margin-bottom: 40vh;
    }
    .headerIndex{
        background-image: url(../img/fullArmMobile.jpg);
    }

    .indexSection{
        flex-direction: column;
        background-color: #6750A4;
    }
    .selection{
        height: 100%;
    }
    .indexSection a{
        width: 100%;
        height: 32%;
    }
    .indexSection a img{
        display: none;
    }

    .indexSubtitle h2{
        font-size: 2rem;
    }
    .indexSubtitle p{
        font-size: 1rem;
    }

    .indexSubtitle{
        margin-bottom: 2vh;
    }

    footer h3{
        display: none;
    }

    /* //////////////////////// ABOUT HTML ////////////////////////*/
    .about{
        width: 100%;
        font-size: 1.25rem;
    }

    .aboutHeading{
        height: 10vh;
        font-size: 2rem;
    }

    .wrapperABOUT{
        grid-template-rows: 7.5vh 1fr 15vh;
    }

    .aboutMain section{
        flex-direction: column;
        height: auto;
    }

    /* //////////////////////// MECHANISM HTML ////////////////////////*/
    .mainMechanisms{
        flex-direction: column;
    } 
    
    .divMechanisms{
        width: 90vw;
    }
        .divMechanisms h2{
            font-size: 2rem;
        }

    .mainMechanisms img{
        width: 90vw;
        /* aspect-ratio: 1/1; */
    }

    /* //////////////////////// WHATS LEFT HTML ////////////////////////*/
    .mainWhatsLeft{
        flex-direction: column;
        align-items: center; 
    }

    .whatsLeftSection{
        width: 90vw;
    }

    .hdWhatsLeft h1{
        font-size: 3rem;
    }

    .whatsLeftSection h2{
        font-size: 2rem;
    }

    .card img{
        height: 40vh;
    }
}